<?php $_v=&$this->vars;?>
<html lang="de">
<head>
    <title>Account Analyzer</title>
    <link rel="stylesheet" href="Resources/Public/Css/bootstrap.css">
</head>
<body>
<div class="container">
    <h1>Month View</h1>

    <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link" href="/index.php?action=analyze">Back to Analyze</a>
        <a class="nav-item nav-link" href="/index.php?action=flush">Clear Cache</a>
    </nav>

    <nav class="nav nav-pills nav-fill">
        <?php if(!empty([1 => 'January', 2 => 'February', 3 => 'March', 4 => 'April', 5 => 'May', 6 => 'June', 7 => 'July', 8 => 'August', 9 => 'September', 10 => 'October', 11 => 'November', 12 => 'Dezember']))foreach([1 => 'January', 2 => 'February', 3 => 'March', 4 => 'April', 5 => 'May', 6 => 'June', 7 => 'July', 8 => 'August', 9 => 'September', 10 => 'October', 11 => 'November', 12 => 'Dezember'] as $_v['id'] => $_v['name']){?>
        <a class="nav-item nav-link<?php if($_v['month']==$_v['id']){?>
 active<?php }?>" href="/index.php?action=grouped&month=<?php echo $_v['id'];?>
"><?php echo $_v['name'];?>
</a>
        <?php }?>
    </nav>

    <?php $_v['sum']=sumAmount($_v['rows']);?>

    <div class="alert <?php if($_v['sum'] < 0){?>
alert-danger<?php }else{?>
alert-success<?php }?>" role="alert">
        Total: <?php echo sumAmount($_v['rows']);?>

    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Datum</th>
            <th>Auftraggeber</th>
            <th>Betrag</th>
            <th>Saldo</th>
        </tr>
        </thead>
        <tbody>
        <?php if(!empty($_v['rows']))foreach($_v['rows'] as $_v['row']){?>
        <tr>
            <td rowspan="2"><?php echo $_v['row']['bookingDate'];?>
</td>
            <td><?php echo $_v['row']['receiver'];?>
</td>
            <td><?php echo $_v['row']['amount'];?>
</td>
            <td><?php echo $_v['row']['saldo'];?>
</td>
        </tr>
        <tr>
            <td colspan="3"><?php echo $_v['row']['description'];?>
</td>
        </tr>
        <?php }?>
        <tr>
            <td colspan="2"><strong>Total</strong></td>
            <td colspan="2"><strong><?php echo sumAmount($_v['rows']);?>
</strong></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
