<html lang="de">
<head>
    <title>Account Analyzer</title>
    <link rel="stylesheet" href="Resources/Public/Css/bootstrap.css">
</head>
<body>
<div class="container">
    <h1>Your analyzed Account data</h1>

    <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link" href="/index.php?action=grouped">Grouped</a>
        <a class="nav-item nav-link" href="/index.php?action=year">Year</a>
        <a class="nav-item nav-link" href="/index.php?action=flush">Clear Cache</a>
    </nav>

    {eval $sum=sumAmount($rows);}
    <div class="alert {if $sum < 0}alert-danger{else}alert-success{/if}" role="alert">
        Total: {rows|sumAmount}
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th><a href="/index.php?action=analyze&sortBy=bookingTimestamp&sortDir={sortDir}">Datum</a></th>
            <th><a href="/index.php?action=analyze&sortBy=receiver&sortDir={sortDir}">Auftraggeber</a></th>
            <th><a href="/index.php?action=analyze&sortBy=amount&sortDir={sortDir}">Betrag</a></th>
            <th><a href="/index.php?action=analyze&sortBy=saldo&sortDir={sortDir}">Saldo</a></th>
        </tr>
        </thead>
        <tbody>
        {foreach $rows as $row}
        <tr>
            <td rowspan="2">{row['bookingDate']}</td>
            <td>{row['receiver']}</td>
            <td>{row['amount']}</td>
            <td>{row['saldo']}</td>
        </tr>
        <tr>
            <td colspan="3">{row['description']}</td>
        </tr>
        {/foreach}
        </tbody>
    </table>
</div>
</body>
</html>
