<html lang="de">
<head>
    <title>Account Analyzer</title>
    <link rel="stylesheet" href="Resources/Public/Css/bootstrap.css">
</head>
<body>
<div class="container">
    <h1>Month View</h1>

    <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link" href="/index.php?action=analyze">Back to Analyze</a>
        <a class="nav-item nav-link" href="/index.php?action=year">Year</a>
        <a class="nav-item nav-link" href="/index.php?action=flush">Clear Cache</a>
    </nav>

    <nav class="nav nav-pills nav-fill">
        <f:for each="{1: 'January', 2: 'February', 3: 'March', 4: 'April', 5: 'May', 6: 'June', 7: 'July', 8: 'August', 9: 'September', 10: 'October', 11: 'November', 12: 'Dezember'}" as="name" key="id">
            <a class="nav-item nav-link {f:if(condition: '{month} == {id}', then: 'active')}" href="/index.php?action=grouped&month={id}">{name}</a>
        </f:for>
    </nav>

    <div class="alert {f:if(condition: '{sumAmount} < 0', then: 'alert-danger', else: 'alert-success'}" role="alert">
        Win/Lost within month: {sumAmount}
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Receiver</th>
            <th>Amount</th>
            <th>Saldo</th>
        </tr>
        </thead>
        <tbody>
        <f:for each="{rows}" as="row">
            <tr>
                <td rowspan="2">{row.bookingDate}</td>
                <td>{row.receiver}</td>
                <td>{row.amount}</td>
                <td>{row.saldo}</td>
            </tr>
            <tr>
                <td colspan="3">{row.description}</td>
            </tr>
        </f:for>
        <tr>
            <td colspan="2"><strong>Total</strong></td>
            <td colspan="2"><strong>{sumAmount}</strong></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
