<html lang="de">
<head>
    <title>Account Analyzer</title>
    <link rel="stylesheet" href="Resources/Public/Css/bootstrap.css">
</head>
<body>
<div class="container">
    <h1>Year View</h1>

    <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link" href="/index.php?action=analyze">Back to Analyze</a>
        <a class="nav-item nav-link" href="/index.php?action=grouped">Grouped</a>
        <a class="nav-item nav-link" href="/index.php?action=flush">Clear Cache</a>
    </nav>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Month</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        <f:for each="{rows}" as="dataForMonth">
            <tr>
                <td>{dataForMonth.month}</td>
                <td>
                    {dataForMonth.sumAmount}
                </td>
            </tr>
        </f:for>
        </tbody>
    </table>
</div>
</body>
</html>
